<div class="col-md-9">
  <div class="chat-room">
    <div class="row">
      <div class="col-md-5">

        <!-- Contact List in Left-->
        <ul class="nav nav-tabs contact-list scrollbar-wrapper scrollbar-outer">
          <li *ngFor="let chat of memberChat">
            <a href="#contact-{{chat.id}}" data-toggle="tab" (click)="GetMessages(chat.id)">
              <div class="contact">
                <img src="{{chat.profilePhotoUrl}}" alt="" class="profile-photo-sm pull-left" />
                <div class="msg-preview">
                  <h6>{{chat.firstName + ' ' + chat.lastName}}</h6>
                  <p class="text-muted">{{chat.lastMessage}}</p>
                  <small class="text-muted">{{chat.lastMessageDateTime | timeago}}</small>
                  <div class="seen"><i class="icon ion-checkmark-round"></i></div>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <!--Contact List in Left End-->

      </div>
      <div class="col-md-7">

        <!--Chat Messages in Right-->
        <!-- #chatBox : template reference variable -->
        <div #chatBox class="tab-content scrollbar-wrapper wrapper scrollbar-outer">
        <!-- <div #chatBox class="tab-content scrollbar-wrapper wrapper scrollbar-outer" (scroll)="onScroll($event)"> -->
            <div class="tab-pane" id="contact-{{chatId}}">
            <div class="chat-body" >
              <ul class="chat-message">
                <ng-container *ngFor="let message of messageService.messages">
                  <li *ngIf="message.senderId != user.id && message.receiverId == user.id" class="left">
                    <a routerLink="/members/{{message.senderUsername}}">
                      <img src="{{message.senderPhotoUrl}}" alt="" class="profile-photo-sm pull-left" />
                    </a>
                    <div class="chat-item">
                      <p>{{message.body}}</p>
                      <small class="text-muted">{{message.createDateTime | timeago}}</small>
                    </div>
                  </li>
                  <li *ngIf="message.senderId == user.id && message.receiverId != user.id" class="right">
                    <a routerLink="/members/{{message.recieverUsername}}">
                      <img src="{{message.senderPhotoUrl}}" alt="" class="profile-photo-sm pull-right" />
                    </a>
                    <div class="chat-item">
                      <p>{{message.body}}</p>
                      <small class="text-muted" alt="asdasd">{{message.createDateTime | timeago }}</small>
                      <i ngClass="ml-2 icon-checkmark-sharp" *ngIf="!message.dateReaded" class=""></i>
                      <i ngClass="ml-2 icon-checkmark-done-sharp" *ngIf="message.dateReaded" class=""></i>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
        <!--Chat Messages in Right End-->

        <form class="send-message" #sendForm="ngForm"  autocomplete="off">
          <div class="input-group">
            <input required="required" type="text" (keyup.enter)="SendMessage()" [(ngModel)]="messageText" name="messageText" class="form-control" placeholder="Type your message">
            <span class="input-group-btn">
              <button class="btn btn-default" (click)="SendMessage()" type="button" [disabled]="!sendForm.valid">Send</button>
            </span>
          </div>
        </form>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
