<div class="edit-profile-container">
  <div class="block-title">
    <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Edit basic information</h4>
    <div class="line"></div>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
      corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
    <div class="line"></div>
    <h3>{{basicInfoForm.status}}</h3>
  </div>
  <div class="edit-block">
    <form [formGroup]="basicInfoForm" #editForm="ngForm" id="editForm" class="form-inline">

      <div class="row">

        <app-text-input [formControlName]="'firstName'" [label]='"first name"'
          [errorColor]='"red"' [data]="member.firstName" [classNamesParent]='"col-xs-6"'>
        </app-text-input>

        <app-text-input [formControlName]="'lastName'" [name]='"lastName"' [label]='"last name"'
          [errorColor]='"red"' [data]="member.lastName" [classNamesParent]='"col-xs-6"'>
        </app-text-input>

      </div>

      <div class="row">

        <app-text-input  [formControlName]='"email"' [label]='"email"'
          [errorColor]='"red"' [data]="member.email" [classNamesParent]='"col-xs-6"'>
        </app-text-input>

        <app-text-input  [formControlName]='"phone"' [label]='"phone"'
          [errorColor]='"red"' [data]="member.phone" [classNamesParent]='"col-xs-6"'>
        </app-text-input>


      </div>


      <div class="row">

        <div class="col-sm-3 col-xs-6">
          <mat-form-field appearance="fill">
            <mat-label>Date of birth</mat-label>
            <input title="Date of birth" [value]="dateOfBirth" matInput [matDatepicker]="picker" [formControlName]="'dateOfBirth'">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

      </div>
      <div class="row">

        <mat-form-field class="col-xs-6" appearance="fill" >
          <mat-label>Sex</mat-label>
          <mat-select [(value)]="member.sex" [formControlName]="'sex'">
            <mat-option *ngFor="let option of enumSexKeys | enumToArray" [value]="option.index" >
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="col-xs-6" appearance="fill" >
          <mat-label>Gender</mat-label>
          <mat-select [(value)]="member.gender" [formControlName]='"gender"'>
            <mat-option *ngFor="let option of enumGenderKeys| enumToArray" [value]="option.index">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="row">

        <mat-form-field class="col-xs-6" appearance="fill">
          <mat-label>Country</mat-label>
          <input type="text" matInput value="member.country" placeholder="Please enter country"
            [formControl]="basicInfoForm.controls.country" [matAutocomplete]="auto">

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='countrySelected($event.option.value)'>
            <mat-option *ngFor="let option of countriesFilteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- <app-text-input [formControl]='basicInfoForm.controls["country"]' [name]='"country"' [label]='"country"'
          [errorColor]='"red"' [data]="member.country" [classNamesParent]='""' [autoCompleteOptions]="countries">
        </app-text-input> -->

        <app-text-input [formControl]='basicInfoForm.controls["city"]' [name]='"city"' [label]='"city"'
          [errorColor]='"red"' [data]="member.city" [classNamesParent]='"col-xs-6"' [autoCompleteOptions]="cities">
        </app-text-input>

      </div>

      <div class="row">
        <app-text-input [formControl]='basicInfoForm.controls["info"]' [name]='"info"' [label]='"information"'
          [placeholder]='"Please Write about yourself"' [data]="member.info" [classNamesParent]='"col-xs-12"'>
        </app-text-input>
      </div>

      <button [disabled]="!editForm.dirty" type="button" class="btn btn-primary" (click)="updateMember()">Save
        Changes</button>
    </form>
  </div>
</div>
