
                <!-- Post Content
        ================================================= -->
        <div class="post-content" *ngFor="let post of posts">
          <div class="post-container">
            <img src="{{post.theUser.profilePhotoUrl}}" alt="user" class="profile-photo-md pull-left">
            <div class="post-detail">
              <div class="user-info">
                <h5><a href="/members/{{post.theUser.userName}}" class="profile-link">{{post.theUser.firstName}}</a> <span class="following">following</span></h5>
                <p class="text-muted">{{post.createDateTime | timeago }}</p>
              </div>
              <div class="reaction">
                  <a class="btn" ngClass="{{post.isLiked}}" (click)="AddLike(post)">
                    <i class="fa like">{{post.likesCount}}</i>
                    <i class="fa fa-heart fa-beat {{post.isLiked}}"></i>
                  </a>
              </div>
              <div class="line-divider"></div>
              <div class="post-text">
                <p [innerHTML]="post.body"><i class="em em-thumbsup"></i> <i class="em em-thumbsup"></i></p>
              </div>
              <div class="line-divider"></div>
              <!-- <div class="post-comment">
                <img src="images/users/user-12.jpg" alt="" class="profile-photo-sm">
                <p><a href="timeline.html" class="profile-link">Cris </a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam <i class="em em-muscle"></i></p>
              </div> -->
              <div class="post-comment">
                <img src="{{user.photoUrl}}" alt="" class="profile-photo-sm">
                <input type="text" class="form-control" placeholder="Post a comment">
              </div>
            </div>
          </div>
        </div>
