<!-- <fieldset class="form-group {{classNamesParent}}">
  <label *ngIf="hasLalbelTag">{{label}}</label>
  <input type="{{type}}"
  name="{{label}}"
  value="{{data}}"
  [formControl]="ngCongrol.control"
  [class.is-invalid]="ngCongrol.invalid && ngCongrol.touched"
  class="form-control {{classNames}}"  placeholder="{{label}}">
  <div *ngIf="ngCongrol.control.errors?.required" class="invalid-feedback {{errorColor}}">Please enter {{label}}</div>
  <div *ngIf="ngCongrol.control.errors?.minlength" class="invalid-feedback {{errorColor}}">{{label}} must be at least {{ngCongrol.control.errors.minlength['requiredLength']}}</div>
  <div *ngIf="ngCongrol.control.errors?.maxlength" class="invalid-feedback {{errorColor}}">{{label}} must be at most {{ngCongrol.control.errors.maxlength['requiredLength']}}</div>
  <div *ngIf="ngCongrol.control.errors?.isMatching" class="invalid-feedback  {{errorColor}}">Passwords do not match</div>
</fieldset> -->



<mat-form-field class="{{classNamesParent}}" appearance="fill">
  <mat-label [ngClass]="errorColor">{{label}}</mat-label>

  <textarea *ngIf="isTextArea" cdkAutosizeMinRows="1" [formControl]="ngCongrol.control"
        cdkAutosizeMaxRows="5" matInput placeholder="{{placeholder}}"> value="{{data}}"</textarea>

  <input *ngIf="!isTextArea" type="{{type}}" matInput [formControl]="ngCongrol.control"
    value="{{data}}" placeholder="Please enter {{label}}" [matAutocomplete]="auto"
    [ngClass]="classNames" >

  <!-- <span *ngIf="autoCompleteOptions"> -->
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)='autoCompleteSelected($event.option.value, ngCongrol)'>
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
  <!-- </span> -->

  <!-- <mat-error *ngIf="ngCongrol.control.errors?.required">
    Please enter a valid email address
  </mat-error> -->
  <mat-error [ngClass]="errorColor" *ngIf="ngCongrol.control.errors?.required"> {{label}} is required </mat-error>
  <mat-error [ngClass]="errorColor" *ngIf="ngCongrol.control.errors?.minlength"> {{label}} is {{label}} must be at least {{ngCongrol.control.errors.minlength['requiredLength']}}</mat-error>
  <mat-error [ngClass]="errorColor" *ngIf="ngCongrol.control.errors?.maxlength"> {{label}} is  {{label}} must be at most {{ngCongrol.control.errors.maxlength['requiredLength']}}</mat-error>
  <mat-error [ngClass]="errorColor" *ngIf="ngCongrol.control.errors?.isMatching"> {{label}} do not match </mat-error>
</mat-form-field>
