.timeline-cover{
    margin-bottom: 200px;
}
.follow-me{margin-top: 30px !important;}
.profile-menu {display: block !important; text-align: center; margin-left: 25% !important;}
.timeline-cover .timeline-nav-bar .profile-menu li{
  display: inline-block;
}
