
<div class="timeline-cover margin-top">
  <!--Timeline Menu for Large Screens-->
  <div class="timeline-nav-bar hidden-sm hidden-xs">
      <div class="profile-info">
        <img src="{{member.profilePhotoUrl}}" alt="" class="img-responsive profile-photo">
        <h3>{{member.firstName + member.lastName}}</h3>
        <p class="text-muted">Creative Director</p>
      </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline profile-menu">
          <li><a routerLink="/members/{{member.userName}}/timeline">Timeline</a></li>
          <li><a routerLink="/members/{{member.userName}}/about">About</a></li>
          <li><a routerLink="/members/{{member.userName}}/album">Album</a></li>
          <li><a routerLink="/members/{{member.userName}}/following">Following</a></li>
          <li><a routerLink="/members/{{member.userName}}/followers">Followers</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="follow-me list-inline">
          <li>
            <button mat-button color="primary" (click)="openDialog()">Send Message</button>
          </li>
          <li>
            <button *ngIf="member.isFollowed" mat-raised-button color="primary" (click)="followUnfollow()">Unfollow</button>
            <button *ngIf="!member.isFollowed"  mat-raised-button color="primary" (click)="followUnfollow()">Follow</button>
          </li>
        </ul>
      </div>
    </div>
  </div><!--Timeline Menu for Large Screens End-->

  <!--Timeline Menu for Small Screens-->
  <div class="navbar-mobile hidden-lg hidden-md">
    <div class="profile-info">
      <img src="{{member.profilePhotoUrl}}" alt="" class="img-responsive profile-photo">
      <h4>Sarah Cruiz</h4>
      <p class="text-muted">Creative Director</p>
    </div>
    <div class="mobile-menu">
      <ul class="list-inline">
        <li><a routerLink="/members/{{member.userName}}/timeline">Timeline</a></li>
        <li><a routerLink="/members/{{member.userName}}/about">About</a></li>
        <li><a routerLink="/members/{{member.userName}}/album">Album</a></li>
        <li><a routerLink="/members/{{member.userName}}/following">Following</a></li>
        <li><a routerLink="/members/{{member.userName}}/followers">Followers</a></li>
      </ul>
    </div>
    <div>
      <button class="btn-primary">Add Friend</button>
    </div>
  </div><!--Timeline Menu for Small Screens End-->

</div>
